body {
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}
h1#headerNames {
  margin-top: 10%;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 150px;
  text-align: center;
  cursor: pointer;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 20px;
  text-align: center;
}
.start:hover {
  background-color: rgb(255, 169, 56);
  box-shadow: 0px 15px 20px rgba(248, 233, 99, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.selectFile {
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 20px;
  text-align: center;
}
.selectFile:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.reset {
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(221, 50, 50);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 20px;
  text-align: center;
}
.reset:hover {
  box-shadow: 0px 15px 20px rgba(214, 68, 68, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.selectFile input{
  display: none;
}
.selectFile label{
  cursor: pointer;
}
#winner {
  display: none;
  margin-top: 10%;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 150px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
 }
}